<!DOCTYPE html>
<html>
<head>
	<title>AdMonitor 配置</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="/css/options.css" />
</head>
<body>
	<header class="jumbotron subhead">
	  <div class="container">
		<h1>广告监控 配置选项</h1>
		<p class="lead">在指定网页上识别出我们关心的广告位，尝试提取各种信息（数量，位置，宽高，截图等信息）</p>
	  </div>
	</header>